* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body {
    overflow-x: hidden;
    overflow-y: hidden;
} */

.wrapper {
    position: relative;
}

#canvas {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background: darkslategrey;
}